* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    height: 100vh;
}

.a {
    height: 50px;


}

.result {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}



.a {
    box-shadow: 0px 0px 5px black;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#turn {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    font-size: 3rem;
}

.nums {
    color: rgb(255, 255, 255);
    font-size: 9rem;
    position: absolute;
    z-index: 0;
    filter: drop-shadow(0px 1px 10px black);
    transition: filter 10s initial;
    animation: shadow 10s infinite;
    font-weight: bold;
}

@keyframes shadow {
    0% {
        filter: drop-shadow(0px 1px 10px 1px rgb(0, 0, 0));
    }

    50% {
        filter: drop-shadow(0px 1px 10px 7px rgb(0, 0, 0));
    }

    100% {
        filter: drop-shadow(0px 1px 100px rgb(0, 0, 0));
    }

    50% {
        filter: drop-shadow(0px 1px 10px 7px rgb(0, 0, 0));
    }

    0% {
        filter: drop-shadow(0px 1px 10px 1px rgb(0, 0, 0));
    }
}