* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border{
    height: 100vh;
}
.a {
    height: 50px;


}

.result {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

@media(max-width:550px) {
    .a {
        height: 50px;
    }
}