* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    height: 100vh;
}

.a {
    height: 50px;


}

.result {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

@media(max-width:550px) {
    .a {
        height: 50px;
    }
}

.a{
    box-shadow: 0px 0px 5px black;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.a:hover,
.b:hover,
.c:hover,
.d:hover,
.e:hover,
.f:hover,
.g:hover,
.h:hover,
.i:hover {
    background-color: #2a9e3e;
}